
body {
    margin: 0;
    padding: 0;
}

.sidebar {
    position: absolute;
    width: 150px;
    height: 100%;
    overflow:hidden;
    background-color: #bebebe;
}

canvas {
    position: absolute;
}

.imageButton {
    display:inline-block;
}

.sidebar section{
      float:left;
      overflow:hidden;
}

/* .sidebar section{ */
/*      width:100%; */
/*      height:60px; */
/*      -webkit-transition:height 0.2s ease-out; */
/*      -moz-transition:height 0.2s ease-out; */
/*      -o-transition:height 0.2s ease-out; */
/*      transition:height 0.2s ease-out; */
/* } */

/* .sidebar :target{ */
/*      height:300px; */
/*      width:100%; */
/* } */

